* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  margin-bottom: 0.7em;
}

p {
  margin-bottom: 0.7em;
}
a {
  text-decoration: none;
  color: blue;
}

/*  Navbar  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 0;
  overflow: visible;
  min-height: 60px;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  padding-right: 1.25rem;
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 1.25rem;
  left: 0;
  margin: 0px 1.5em 1.25em 2em;
}

.links-list {
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  padding-right: 1.25rem;
  height: 1.75rem;
  padding-left: 7.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media (max-width: 1050px) {
  .links-list {
    display: none;
  }
}

.link,
.live-for-free,
.login-reg {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
}

.link-coral {
  color: coral;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-for-free {
  margin-right: 0;
  margin-left: auto;
  color: blue;
}

.login-reg {
  font-size: 1.1rem;
}

.nav-seperator {
  display: block;
  height: 0;
  border-top: 2px solid #eee;
}

/* Page */

.page-about {
  margin-top: 20px;

  min-height: 100vh;
  min-height: calc(100vh - 120px);
}

.bg-hero {
  margin-left: 8.33333vw;
  margin-right: 8.33333vw;
  margin-bottom: 8.33333vw;
  position: relative;
  min-height: calc(100vh - 120px);
}

.ableton-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .ableton-logo {
    width: 215px;
    height: 53px;
  }
}

.text {
  width: 66.66667vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.33333vw;
}

.title {
  font-weight: bolder;
}

.images {
  margin-left: 8.33333vw;
  margin-right: 8.33333vw;
  width: auto;
  margin-bottom: 8.33333vw;
  object-fit: cover;
}

.imgix-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-collage {
  position: relative;
  padding-bottom: 8.33333vw;
  margin-bottom: 8.3333vw;
}

.bg-lemonade {
  top: 5vw;
  position: absolute;
  width: 58.33333vw;
  height: 40vw;
  background-color: #fbffa7 !important;
}

.bg-image {
  width: 100%;
  height: 100%;
}

.bg-image-2 {
  vertical-align: middle;
  z-index: 1;
  position: relative;
  position: 50% 50%;
}

.imgix-fluid-2 {
  margin-left: 25vw;
  height: 60%;
  width: 60%;
}

.footer_main {
  padding-top: 5rem;
}

.footer__container {
  padding-left: 8.33333vw;
  padding-right: 8.33333vw;
}

.footer__basics__logo {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 8vh;
}
.footer__col {
  padding-bottom: 30px;
}

.newsletter {
  display: flex;
  margin-top: 10px;
}

.email {
  font-size: inherit;
  width: 100%;
  margin: 0;
  padding: 0.4em 0.75em;
  background: transparent;
  background-color: #eee;
  border: 0;
  user-select: none;
  font-weight: normal;
  border-radius: 0;
}

.signup-btn {
  display: inline-block;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.35em 2em;
  font-weight: bold;
  color: #fff !important;
  background: blue;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.footer__has-arrow {
  color: black;
  text-decoration: none;
}

.footer__social {
  display: flex;
}

.footer__social-button {
  width: 2rem;
  height: 2rem;
  margin-top: 0.625rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.625rem;
}

.footer__social-button--facebook {
  background-color: #3477f2;
}

.footer__social-button--twitter {
  background-color: #1da1f2;
}

.footer__social-button--youtube {
  background-color: #ff001d;
}

.footer__social-button--instagram {
  background-color: #f77737;
}

.footer__link-list__item {
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin: 0px 20px 0px 0px;
}

.footer__secondary__signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0px 5rem 0px;
}

.footer__secondary__signature__label {
  padding: 0px 10px 0px 10px;
}

.footer__row {
  display: grid;
  /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* this is the same as grid-template-rows: 300px 300px; */
}

.footer__row_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .footer__link-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .footer__row {
    display: grid;
    /* this is the same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr;
    /* this is the same as grid-template-rows: 300px 300px; */
  }
}
